.current {
  background: #ffffff;

  color: #15191d !important;
}

.slideLeftHide {
  animation: slideLeftHide 0.5s forwards;
}

.slideLeftShow {
  animation: slideLeftShow 0.5s forwards;
}

.show {
  z-index: 3;

  position: absolute;
}

.hidden {
  z-index: 1;
}

.disable {
  pointer-events: none;
}

.notDisabled {
  display: inherit;
}

.react-draggable-dragging {
  z-index: 3;
}

.noPointerEvents {
  pointer-events: none;
}

.grabbable {
  cursor: move;
  user-select: none;
}

.example__observer {
  flex: 1;
  height: 200px;
  display: flex;
  position: relative;
  border: solid 1px #c5cae9;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
}

@keyframes slideLeftHide {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}

@keyframes slideLeftShow {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}

.editingFull {
  position: absolute !important;
  left: 0px !important;
  width: calc(100vw - 4px) !important;

  transition: all 0.5s ease;
}

.editingSmall {
  position: absolute !important;
  left: 230px !important;

  transition: all 0.5s ease;
}

.LeftSidebarBefore {
  left: 0 !important;

  transition: all 0.5s ease;
}

.LeftSidebarAfter {
  left: 230px !important;

  transition: all 0.5s ease;
}
